# .env
DB_USER=SEU_USUARIO
DB_PASSWORD=SUA_SENHA
DB_NAME=gopher_ledger
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
GRPC_PORT=50051
MAX_OPEN_CONNS=25
MAX_IDLE_CONNS=10
CONN_MAX_LIFETIME=5m
